body {
    background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;

    .header {
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            color: white;
            margin: 0;
            padding: 20px 0px 40px;
        }
    }

    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        button {
            width: 200px;
            height: 200px;
            background-color: white;
            border-radius: 100px;
            border: none;
            cursor: pointer;
        }

        .rock,
        .paper,
        .scissors {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 100px;
        }

        .rock {
            color: #E63946;
        }

        .paper {
            color: #457B9D;
        }

        .scissors {
            color: #2A9D8F;
        }
    }

    #click {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        div {
            color: white;
            margin: 0;
            font-size: 20px;
        }

        .result {
            padding: 50px 0px 0px;
            font-size: 35px;
            font-weight: 600;
        }
    }

    .buttons,
    .confirm {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 20px;

        #resetButton,
        #autoPlayButton,
        #yesButton,
        #noButton {
            display: none;
            padding: 10px 15px;
            border-radius: 30px;
            font-size: 15px;
            background-color: white;
            border: none;
            cursor: pointer;

            &.visible {
                display: block;
            }
        }
    }

    .confirm p {
        display: none;
        color: white;
        margin: 0;
        font-size: 18px;

        &.visible {
            display: block;
        }
    }
}